#
# General project settings
#
PROJECT_DESCR       := Bidirectional-list-like tree structure
DEBUG               := false
DEFAULT_TARGET      := all
COLOR_SCHEMA        := term

#
# Specific project settings
#
SUPPORT_DEBUG_SYM   := true
SUPPORT_WATCH       := true
WATCH_WITH_TEST     := false
SUPPORT_TESTS       := filein
TEST_DIR            := ./tests
TEST_RESULTS_DIR    := ./tests_results
CUSTOM_COMMANDS     :=

#
# Environment settings
#
CC                  := gcc
CC_DBG_FLAGS        := -Wall -Wextra -c -std=c99 -g -o
CC_FLAGS            := -Wall -Wextra -c -std=c99 -o
CC_DBG_LINKER_FLAGS := -g -o
CC_LINKER_FLAGS     := -o
LIBS                :=
OBJ                 := .o
TARGET_NAME         := solution
EXE                 :=
SRC_DIR             := ./src
TEMP_DIR            := ./temp
DIST_DIR            := ./dist
