PROJECT_DESCR     := Bidirectional-list-like tree structure
DEFAULT_TARGET    := all

CC                := gcc
CC_FLAGS          := -Wall -Wextra -g -c -o
CC_LINKER_FLAGS   := -g -o
LIBS              :=
OBJ               := .o
EXE               :=
SRC_DIR           := ./src
TEMP_DIR          := ./temp
DIST_DIR          := ./dist

SUPPORT_WATCH     := true
SUPPORT_TESTS     := filein
TEST_DIR          := ./test
TEST_RESULTS_DIR  := ./test_results

CUSTOM_COMMANDS   :=
